(
    general: (
        name: "Storm drain",
        license: "CC BY-SA 4.0",
        author: "Yara Gardaria",
    ),
    scene: "storm_drain.gltf#Scene0",
    category: Street,
    preview_translation: (0.0, -0.5, -1.7),
)
