(
    general: (
        name: "Retro TV",
        license: "CC BY-SA 4.0",
        author: "Yara Gardaria",
    ),
    scene: "retro_tv.gltf#Scene0",
    category: Electronics,
    preview_translation: (0.0, -0.5, -1.9),
)
