(
    general: (
        name: "Horizontal bar",
        license: "CC BY-SA 4.0",
        author: "Yara Gardaria",
        preview_translation: (0.0, -1.0, -5.2),
    ),
    category: OutdoorActivities,
)
