(
    general: (
        name: "Beater",
        license: "CC BY-SA 4.0",
        author: "Yara Gardaria",
    ),
    scene: "beater.gltf#Scene0",
    category: OutdoorActivities,
    preview_translation: (0.0, -0.8, -3.0),
    components: [
        { "SceneColliderConstructor": Aabb },
    ]
)
