(
    general: (
        name: "Classic bench",
        license: "CC BY-SA 4.0",
        author: "Yara Gardaria",
    ),
    scene: "classic_bench.gltf",
    category: OutdoorFurniture,
    preview_translation: (0.0, -0.4, -3.4),
)
