(
    general: (
        name: "Sewer hatch",
        license: "CC BY-SA 4.0",
        author: "Yara Gardaria",
    ),
    scene: "sewer_hatch.gltf",
    category: Street,
    preview_translation: (0.0, -0.5, -1.6),
)
