(
    general: (
        name: "Classic door",
        license: "CC BY-SA 4.0",
        author: "Yara Gardaria",
    ),
    category: Windows,
    preview_translation: (0.0, -1.50, -2.9),
    components: [
        { 
          "WallMount": (
            cutout: [
                (x: -0.7, y: 0.830196),
                (x: 0.7, y: 0.830196),
                (x: 0.7, y: 2.33),
                (x: -0.7, y: 2.33)
            ],
            hole: true,
          ),
        },
    ],
    place_components: [{ "WallSnap": Inside }],
)
