(
    general: (
        name: "Sandbox",
        license: "CC BY-SA 4.0",
        author: "Yara Gardaria",
    ),
    scene: "sandbox.gltf#Scene0",
    category: OutdoorActivities,
    preview_translation: (0.0, -1.0, -5.0),
    components: [
        { "SceneColliderConstructor": Aabb },
    ]
)
