(
    general: (
        name: "Comfortable bench",
        license: "CC BY-SA 4.0",
        author: "Yara Gardaria",
    ),
    scene: "comfortable_bench.gltf#Scene0",
    category: OutdoorFurniture,
    preview_translation: (0.0, -0.35, -2.4),
    components: [
        { "CombinedSceneCollider": Aabb },
    ]
)
