(
    general: (
        name: "Simple bush",
        license: "CC BY-SA 4.0",
        author: "Yara Gardaria",
    ),
    scene: "simple_bush.gltf#Scene0",
    category: Foliage,
    preview_translation: (0.0, -0.6, -1.9),
    components: [
        { "CombinedSceneCollider": Aabb },
    ],
)
