name: Main
on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - ".github/dependabot.yml"
  pull_request:
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - ".github/dependabot.yml"
env:
  CARGO_TERM_COLOR: always
jobs:
  typos:
    name: Typos
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Check typos
        uses: crate-ci/typos@v1.29.4

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Install Taplo
        run: cargo install taplo-cli --locked

      - name: Format
        run: |
          cargo fmt --check
          taplo fmt --check

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Instal stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends libxcb-shape0-dev libxcb-xfixes0-dev libudev-dev libwayland-dev

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Clippy
        run: cargo clippy --workspace --tests -- -D warnings

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends libxcb-shape0-dev libxcb-xfixes0-dev libudev-dev libwayland-dev

      - name: Instal stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Test
        run: cargo test --workspace
